<!doctype html>
<html lang="en-US">
  <head>
    <title>LS Course 170 Study App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header>
      <h1>Launch School Course 170</h1>
      <h3>Web Development</h3>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
